@import '../Home.scss';

.price-container {
    @include defaultValues;
    margin-bottom: 150px;
    margin-left: 0px;
    text-align: center;

    .home-title {
        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    .select {
        width: 200px;
        padding: 10px;
    }
}