@import "./Home.scss";

.ebook-page {
  @include defaultValues;

  .home-title {
    @include titles;
  }

  .description {
      @include parrafo;
  }

  .ebook-container {
    background: linear-gradient(to bottom, #e17997 5%, #9817b0 100%);
    background-color: #9817b0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 50px;

    .ebook {
      width: 70%;
    }
  }

  .paypal {
    width: 235px;
    margin-top: 60px;
  }

  .button {
    @include buttons;
    width: 235px;
    padding: 9px 20px;
    margin-top: 50px;
    margin-bottom: -45px;
    opacity: 0.5 !important;
  }

  .button-disabled {
    @include buttons;
    width: 235px;
    padding: 9px 20px;
    margin-top: 50px;
    margin-bottom: -45px;
  }
}
