@mixin parrafo {
  font-size: 15px;
  font-weight: 400;
  width: 65%;
  line-height: 1.8em;
  text-align: start;
  color: rgba(black, 0.87);  

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

@mixin defaultValues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 68px;
  font-family: "Roboto", sans-serif;
}

@mixin titles {
  font-size: 40px;
  background: -webkit-linear-gradient(#07569c, #01e896);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: 768px) {
    font-size: 72px;
  }
}

@mixin buttons {
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  background-color: #637aad;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 38px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover {
    background: linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    background-color: #5972a7;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.home {
  @include defaultValues;

  .home-title {
    @include titles;
    margin-top: 3rem;
  }

  .home-p1 {
    @include parrafo;
  }

  .professions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .sticker {
      width: 30%;
      margin-top: 40px;
      padding: 20px;
    }
  }

  .home-title2 {
    @extend .home-title;
    font-size: 35px;
    margin-top: 60px;
  }

  .flag-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
    margin: 50px;
    
    @media (max-width: 768px) {
      margin-right: 90px;
    }
  }

  .flag {
    font-size: 40px;
    list-style: none;
  }

  .pamplona {
    border-radius: 50%;
    width: 40%;
    margin-top: 40px;
  }

  .button {
    @include buttons;
  }
}
